# Problem Set 2

# Question 1  
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [ ]:
#create Module and save it as .py file import it
import ModuleQ1
#a is assigned a value of 0 and incremeneted to 2
ModuleQ1.b()
#a is incremented to 4
ModuleQ1.b()
#a is incremented to 6
ModuleQ1.b()
ModuleQ1.a

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'

In [1]:
def fileLength():
    try:
        file1 = open("idterm.py","r")
        data = file1.read()
        print(len(data))
    except FileNotFoundError:
        print('File not found')
fileLength()

File not found

# Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
 BDAT 1004 – Data Programming 
Page 3 of 7
F2021
BDAT 1004 Computer Studies
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

In [3]:
class Marsupial:
    fruits = []
    def put_in_pouch(self,items):
        print("Hello my name is " , items)
        self.fruits.append(items)
    def Contents(self):
        print(self.fruits)

class Kangaroo(Marsupial):
    da=0
    db=0
    def jump(self,da,db):
        self.da=self.da+da
        self.db=self.db+db
   
    def __str__(self):
        return "I am a Kangaroo located at coordinates" + str(self.da) +","+ str(self.db)

j = Marsupial()
j.put_in_pouch('doll')
j.put_in_pouch('firetruck')
j.put_in_pouch('kitten')
j.Contents()
k = Kangaroo()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

Hello my name is  doll
Hello my name is  firetruck
Hello my name is  kitten
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates3,0

# Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

In [4]:
def collatz(a):
    while(a>1):
        if (a % 2) == 0:
            print(a)
            a=a/2
        else:
            print(a)
            a=(3*a)+1
    print(a)
collatz(1)
collatz(10)

1
10
5.0
16.0
8.0
4.0
2.0
1.0

# Question 5
Write a recursive method binary() that takes a non-negative o9
integer n and prints the binary representation of integer n.

In [ ]:
def binary(n):
   if n > 1:
       binary(n//2)
   print(n % 2,end = '')
num = input("Enter the decimal   ")
binary(int(num))
num = input("Enter the decimal   ")
binary(int(num))

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html..

In [ ]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    inHeading = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1" or tag == "h2" or tag == "h3" or tag == "h4" or tag == "h5" or tag == "h6":
            self.inHeading = True
    def handle_data(self, data):
        if self.inHeading:
            print(data)
hParser = HeadingParser()
file = open("w3c.html", "r")
html = file.read()
file.close()
hParser.feed(html)

# Question 8
Write a function curconv() that takes as input:  1. a currency represented using a string (e.g., 'JPY' for the Japanese Yen or 'EUR' for the Euro) 2. an amount  and then converts and returns the amount in US dollars. Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
 BDAT 1004 – Data Programming 
Page 6 of 7
F2021
BDAT 1004 Computer Studies
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
print ("Opened database successfully")
conn.execute("drop table Weather")
conn.commit()
conn.execute('''CREATE TABLE Weather(
	city varchar(10) ,
	country varchar(10) ,
	season varchar(10) ,
	temperature float ,
	rainfall float 
); ''')
print ("Table created successfully")
conn.commit()
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
             ('Mumbai' ,'India' ,'Winter', 24.8 ,5.9)");

conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
             ('Mumbai' ,'India' ,'Spring', 28.4 ,16.2)");

conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
            ('Mumbai' ,'India' ,'Summer', 27.9 ,1549.4)");

conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values ('Mumbai' ,'India' ,'Fall' ,27.6, 346.0)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values ('London' ,'United Kingdom' ,'Winter' ,4.2 ,207.7)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values ('London' ,'United Kingdom' ,'Spring',8.3 ,169.6)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values ('London' ,'United Kingdom' ,'Summer' ,15.7, 157.0)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values ('London' ,'United Kingdom' ,'Fall' ,10.4, 218.5)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values ('Cairo','Egypt' ,'Winter' ,13.6 ,16.5)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values ('Cairo' ,'Egypt' ,'Spring' ,20.7 ,6.5)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values ('Cairo' ,'Egypt' ,'Summer' ,27.7 ,0.1)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values ('Cairo','Egypt' ,'Fall' ,22.2 ,4.5)");
conn.commit()
#a
cursor = conn.execute("SELECT Temperature FROM Weather");
print(cursor.fetchall())
#b
cursor = conn.execute("SELECT distinct city FROM Weather");
print(cursor.fetchall())
#c
cursor = conn.execute("SELECT * FROM Weather where Country = 'India'");
print(cursor.fetchall())
#d
cursor = conn.execute("SELECT * FROM Weather where season  = 'Fall'");
print(cursor.fetchall())
#e
cursor = conn.execute("SELECT city,country,season FROM Weather group by city,country,season having  avg(rainfall) > 200 and  avg(rainfall) < 400");
print(cursor.fetchall())
#f
cursor = conn.execute("SELECT city,country FROM Weather where  season = 'Fall' group by city,country having  avg(temperature) > 20");
print(cursor.fetchall())
#g
cursor = conn.execute("SELECT city,sum(rainfall) as annualRain FROM Weather  group by city having  city = 'Cairo'");
print(cursor.fetchall())
#h
cursor = conn.execute("SELECT season,sum(rainfall) as annualRain FROM Weather  group by season");
print(cursor.fetchall())
conn.close()

# Question 9
Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [7]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
temp = []
for x in words:
    temp.append(x.upper())
print(temp)
temp.clear()
for x in words:
    temp.append(x.lower())
print(temp)
temp.clear()
for x in words:
    temp.append(len(x))
print(temp)
temp.clear()
for x in words:
    temp2List = []
    temp2List.append(x.upper())
    temp2List.append(x.lower())
    temp2List.append(len(x))
    temp.append(temp2List)
print(temp)
temp.clear()
for x in words:
    if len(x) >=4:
        temp.append(x)
print(temp)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']